<ion-view view-title="Acceuil">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div>
      <p class="text-center">Le cours d'aujourd'hui est disponible !</p>
      <button class="button button-block button-positive" ng-click="dailyClass()">Allez au cours du jour</button>
    </div>

    <div>
      <p class="text-center">Révisez les cours déjà étudiés</p>
      <button class="button button-block button-positive">Voir les cours effectués</button>
    </div>
  </ion-content>
</ion-view>
