<ion-view view-title="Cours">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="text-center big">
      Bonjour, {{username}} !
    </div>


    <div class="text-center">
      <p class="text-center">Le cours d'aujourd'hui est disponible !</p>
      <button class="button button-positive text-button" ng-click="dailyClass()">Allez au cours du jour</button>
    </div>

    <br/>
    <br/>

    <div class="text-center">
      <p class="text-center">Révisez les cours déjà étudiés</p>
      <button class="button button-positive text-button" ng-click="listClass()">Voir les cours disponibles</button>
    </div>

    <div class="footer">
      <button class="button button-block button-positive" ng-click="setNewLanguage()">Étudier une autre langue</button>
    </div>

    <div>
      <button class="button button-block button-positive" ng-click="disconnect()">Déconnexion</button>
    </div>
  </ion-content>
</ion-view>
