<ion-view>
  <ion-content>
    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input {{emailInputColor}}">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email">
        </label>
        <label class="item item-input {{passInputColor}}">
          <span class="input-label">Mot de passe</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <div class="text-center">
          {{problem}}
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
