<div id="media" class="hide">https://firebasestorage.googleapis.com/v0/b/multilingua-f46ac.appspot.com/o/english2.mp3?alt=media&token=8e8628e1-e988-4d37-8349-b2fde59cd27e</div>

<div class="text-center">
  <h3>Un adverbe</h3>
  <p>Il ajoute une information, par exemple quand, où et comment quelque chose se passe:</p>
  <ul>
    <li><em>We talked about it <strong>yesterday</strong>.</em></li>
    <li><em>I’ll wait <strong>here</strong>.</em></li>
    <li><em>Read the text <strong>carefully</strong>.</em></li>
  </ul>
  <br/>
  <h3>Un adverbe de fréquence</h3>
  <p>Il décrit la fréquence à laquelle quelque chose se passe:</p>
  <ul>
    <li><em>I <strong>usually</strong> eat at home.</em></li>
    <li><em>These lessons are <strong>often</strong> very boring.</em></li>
  </ul>
  <br/>
  <h3>Une préposition</h3>
  <p>Sert à connecter et décrire la relation entre un nom et un pronom. Quelques prépositions courantes sont: in, on, at, around, above, between, inside, near, for, with…</p>
  <ul>
    <li><em>He swam <strong>across</strong> the river.</em></li>
    <li><em>This movie is <strong>about</strong> the second World War.</em></li>
  </ul>
  <br/>
  <h3>Un pronom</h3>
  <p>Il prend la place d’un nom:</p>
  <ul>
    <li><em>The hotel is good but <strong>it’s</strong> too far from the airport.</em></li>
    <li><em>That’s my boss. Have you met <strong>him</strong> ?</em></li>
  </ul>
  <br/>
  <h3>Un verbe auxiliaire</h3>
  <p>Be, Do et Have sont utilisés avec d’autres verbes pour former les temps et les formes passives:</p>
  <ul>
    <li><em>I’<strong>m</strong> not working tomorrow.</em></li>
    <li><em>What <strong>did</strong> she say ?</em></li>
    <li><em>The conference <strong>has been</strong> canceled.</em></li>
  </ul>
  <br/>
  <h3>Un gérondif</h3>
  <p>C’est une forme en -ing d’un verbe utilisé comme un nom:</p>
  <ul>
    <li><em>Smok<strong>ing</strong> is not allowed at the back of the bar.</em></li>
    <li><em>I’m not keen on fly<strong>ing</strong>.</em></li>
  </ul>
  <br/>
  <h3>Un infinitif</h3>
  <p>C’est la base d’un verbe (come, go etc…). On l’utilise avec ou sans ‘to&rsquo;:</p>
  <ul>
    <li>This book is hard <strong>to understand</strong>.</li>
    <li>I’d like <strong>to book</strong> a table for eight o’clock.</li>
    <li>I must <strong>finish</strong> my homeworks today.</li>
  </ul>
  <br/>
  <h3>Un verbe modal</h3>
  <p>C’est un verbe comme might, can ou should. On l’utilise pour exprimer des possibilités, demander une permission, donner un conseil, etc…</p>
  <ul>
    <li><em><strong>Can</strong> we meet later this afternoon ?</em></li>
    <li><em>We <strong>should</strong> improve our english.</em></li>
    <li><em>They <strong>might</strong> think the house is too old.</em></li>
  </ul>
  <br/>
  <h3>Les ‘phrasal verbs’ (les verbes à particule)</h3>
  <p>Il est composé en deux parties: un verbe (par ex: look) suivi d’un adverbe ou d’une préposition (par ex: after). Quand on les utilise ensemble, ils ont souvent une signification complètement différente:</p>
  <ul>
    <li><em>He’s <strong>looking after</strong> the children.</em></li>
    <li><em>She <strong>looked</strong> the word <strong>up</strong> in her dictionnary.</em></li>
  </ul>
</div>

<br/>

<div ng-init="init()"></div>
