<div id="media" class="hide">https://firebasestorage.googleapis.com/v0/b/multilingua-f46ac.appspot.com/o/spanish2.mp3?alt=media&token=3f8a493a-28d8-4380-8354-0a59bb8ebdbe</div>

<div class="text-center">
  <h3>Les règles orthographiques</h3>

  <p>L’orthographe espagnole est beaucoup plus simple que l’orthographe française.</p>

  <br/>
  <p><span style="color: #ff0000;"><strong>Les combinaisons de lettres</strong></span></p>

  <p>Les combinaisons de consonnes PH, RH ou TH qui existent en français ne sont pas admises en espagnol. Elles sont tout simplement remplacées par F, R ou T.</p>

  <p>Voici quelques exemples pour clarifier mon propos:</p>

  <p>Pharmacie s’écrit Farmacia en espagnol;</p>

  <p>Rhum s’écrit Ron;</p>

  <p>Théâtre s’écrit Teatro.</p>

  <p>En revanche, comme indiqué dans la leçon 1 sur l’alphabet et le prononciation, CH est une lettre à part entière en espagnol. LE H NE DOIT EN AUCUN CAS LUI ÊTRE ENLEVÉ, sous peine de transformer le mot et sa prononciation.</p>
  <br/>
  <p><span style="color: #ff0000;"><strong>Le doublement de consonnes</strong></span></p>

  <p>Là-aussi, c’est très simple et il existe un moyen mnémotechnique de s’en rappeler.</p>

  <p>Les seules consonnes qui se doublent en espagnol sont celles du prénom CAROLINA, c’est-à-dire le C, le R, le L et le N.</p>

  <p>Quelques exemples: la acción (l’action), el perro (le chien), una llamada (un appel), innegociable (non négociable)</p>

  <p>Et c’est tout ce qu’il y a à savoir pour l’orthographe courante! Simple, n’est-ce-pas?</p>
  <br/>
  <p><span style="color: #ff0000;"><strong>La question des sigles</strong></span></p>

  <p>Les sigles en espagnol ont une particularité lorsqu’ils sont au pluriel: les lettres qui les composent sont doublées.</p>

  <p>Prenons quelques exemples.</p>

  <p>Les Etats-Unis se disent Los Estados-Unidos en espagnol. En français, nous utilisons généralement  l’abréviation anglophone (les USA) ou la version française (les EU): la marque du pluriel n’apparaît que dans l’article qui précède le sigle.</p>

  <p>En espagnol, il y a deux marques de pluriel: l’article et le sigle lui-même. Los Estados-Unidos s’écrira donc en sigle Los EE-UU.</p>

  <p>Autre exemple: les Jeux Olympiques, qui se traduisent par los Juegos Olímpicos en espagnol. En français nous abrégeons en écrivant les JO. En espagnol, ce sera los JJ OO.</p>

  <p>En revanche, quand le mot à abréger est au singulier, il n’y a pas de doublement de lettres.</p>
</div>

<br/>

<div ng-init="init()"></div>
