<div id="media" class="hide">https://firebasestorage.googleapis.com/v0/b/multilingua-f46ac.appspot.com/o/spanish1.mp3?alt=media&token=416f276a-14d0-4c14-86d0-6db1df41d3f3</div>

<div class="text-center">
  <h3>L’alphabet</h3>
  <p>
    L’alphabet espagnol est proche de l’alphabet français mais il s’en distingue par le nombre de lettres: 29 au total, réparties en 6 voyelles et 23 consonnes, dont 3 qui lui sont propres.

    Voici la liste de cet alphabet, incluant le nom des lettres.
  </p>
  <ul>
    <li><strong>A 	[a]</strong></li>
    <li><strong>B 	[be]</strong></li>
    <li><strong>C 	[ce]</strong></li>
    <li><strong>CH 	[tche]</strong></li>
    <li><strong>D 	[de]</strong></li>
    <li><strong>E 	[e]</strong></li>
    <li><strong>F 	[efe]</strong></li>
    <li><strong>G 	[ge]</strong></li>
    <li><strong>H 	[atche]</strong></li>
    <li><strong>I 	[i]</strong></li>
    <li><strong>J 	[jota]</strong></li>
    <li><strong>K 	[ca]</strong></li>
    <li><strong>L 	[ele]</strong></li>
    <li><strong>LL 	[elle]</strong></li>
    <li><strong>M 	[eme]</strong></li>
    <li><strong>N 	[ene]</strong></li>
    <li><strong>Ñ 	[eñe]</strong></li>
    <li><strong>O 	[o]</strong></li>
    <li><strong>P 	[pe]</strong></li>
    <li><strong>Q 	[cu]</strong></li>
    <li><strong>R 	[erre]</strong></li>
    <li><strong>S 	[ese]</strong></li>
    <li><strong>T 	[te]</strong></li>
    <li><strong>U 	[u]</strong></li>
    <li><strong>V 	[uve]</strong></li>
    <li><strong>W 	[uve doble]</strong></li>
    <li><strong>X 	[equis]</strong></li>
    <li><strong>Y 	[i griega]</strong></li>
    <li><strong>Z 	[zeta]</strong></li>
  </ul>

  <h3>La prononciation</h3>

  <p>
    Si l’on considère que les lettres de l’alphabet sont des briques, la prononciation est le ciment qui permet de les assembler entre elles pour former la maison, c’est-à-dire votre connaissance structurelle de la langue espagnole.
  </p>
  <p><span style="color: #ff0000;"><strong>Les voyelles</strong></span></p>

  <p>-Comme en français, il y en a 6: A, E, I, O, U, Y.</p>

  <p>Attention: le Y est parfois considéré comme une consonne!!!</p>

  <p>-Le A, le I, le O et le Y se prononcent exactement comme en français.</p>

  <p>–Le E se prononce toujours comme le É français. Si nous reprenons ensemble quelques noms de lettres issus de la liste précédemment donnée, [ele] se prononcera [élé], [efe] se dira [éfé] et ainsi de suite pour tous les E présents dans la liste! En effet, le E muet n’existe pas en espagnol.</p>

  <p>–Le U se prononce comme le OU français. [Uve doble] se prononcera donc [ouvé doblé].</p>

  <p>Lorsque vous entendrez un Espagnol parler français, vous remarquerez qu’il a des difficultés à prononcer notre E muet et notre U. La raison en est simple: ces sons-là n’existent pas en espagnol! Prononcer correctement les mots « jeux » ou « musique » est une torture pour nombre d’Hispaniques.</p>

  <p><span style="color: #ff0000;"><strong>Les consonnes</strong></span></p>

  <p>–Les consonnes B, D, F, H, K, L, M, N, P, Q, T et X se prononcent comme en français. Du coup, le H ne se prononce pas Complice {humour de prof, tout ça…}!</p>

  <p>-A noter, le cas particulier du W qui n’est pas une consonne espagnole mais anglaise. Il n’existe aucun mot en espagnol pur commençant par W. Les rares termes débutant par cette consonne sont des mots anglais adaptés à la prononciation espagnole. Le W se prononcera alors comme le son OU français. On dira [Ouashington] pour Washington.</p>

  <p>-On distinguera ensuite les consonnes « à prononciation unique » et les consonnes « à prononciation variable ». Les deux expressions sont entre guillemets car je les ai inventées et elles ne sont pas répertoriées comme appellations officielles.</p>

  <p><span style="color: #ff0000;"><strong>1. Les consonnes « à prononciation unique »</strong></span></p>

  <p>Ce sont les consonnes dont la prononciation reste identique quelle que soit la voyelle qui les suit.</p>

  <p>–Le J est en fait une sorte de 2ème R dans la langue espagnole. C’est un R raclé. Imaginez que vous ayez un poil dans la gorge: le son que vous allez produire en raclant votre gorge pour essayer de le faire sortir sera exactement le même que celui du [jota] espagnol!</p>

  <p>-Le R est un R roulé. Le son de ce R est exactement le même que celui du pigeon qui roucoule! Comme ce n’est pas facile à reproduire, imaginez que devant le R, il y a un L: à force de répétition, le roulement du R vous viendra naturellement.</p>

  <p>–Le S se prononce comme dans « assiette ». C’est un son franc et massif. Ne cherchez pas le son correspondant au S de « asile »: il n’existe pas en espagnol.</p>

  <p>–Le V se prononce toujours comme un B. En reprenant l’exemple de la lettre [uve doble], la prononciation complète sera [oubé doblé].</p>

  <p>–Le Z se prononce comme un S zézayé, c’est-à-dire avec la langue entre les dents.</p>

  <p><span style="color: #ff0000;"><strong>2. Les consonnes « à prononciation variable »</strong></span></p>

  <p>Ce sont les consonnes dont la prononciation change selon la voyelle qui les suit.</p>

  <p>–Le C se prononce avec la langue entre les dents devant E et devant I. Il se prononce comme un K devant A, O et U. Voici un tableau qui récapitule tout cela:</p>
  <ul>
    <li><strong>C+E 	= 	SZE</strong></li>
    <li><strong>C+I 	= 	SZI</strong></li>
    <li><strong>C+A 	= 	KA</strong></li>
    <li><strong>C+O 	= 	KO</strong></li>
    <li><strong>C+U 	= 	KU</strong></li>
  </ul>

  <p>–Le G se prononce comme le [jota] espagnol devant E et devant I. Il se prononce comme dans « garer » devant A, O et U. Voici également un tableau de synthèse:</p>
  <ul>
    <li><strong>G+E 	= 	RE</strong></li>
    <li><strong>G+I 	= 	RI</strong></li>
    <li><strong>G+A 	= 	GUA</strong></li>
    <li><strong>G+O 	= 	GUO</strong></li>
    <li><strong>G+U 	= 	GU</strong></li>
  </ul>

  <br/>

  <p><span style="color: #ff0000;"><strong>Les consonnes propres à l’espagnol</strong></span></p>

  <p>Comme indiqué au début de cette leçon et en vert dans le tableau de l’alphabet, il y a 3 consonnes qui n’existent qu’en espagnol: CH, LL et Ñ.</p>

  <p>Ce sont trois consonnes à part entière. Elles ne se découpent pas et ont autant d’importance que les autres consonnes.</p>

  <p>–Le CH se prononce comme le mot français « tchèque ». On prononcera donc [ache][atche].</p>

  <p>–Le LL se prononce comme un Y. [Elle] se dira alors [éyé]</p>

  <p>-Le Ñ est un N surmonté d’un signe ressemblant à une petite vague qu’on appelle un tilde. Ñ se prononce GNE, comme dans le mot français « gagner ». [Eñe] se dira donc [égné].</p>
</div>

<br/>

<div ng-init="init()"></div>
