<div id="media" class="hide">https://firebasestorage.googleapis.com/v0/b/multilingua-f46ac.appspot.com/o/spanish2.mp3?alt=media&token=3f8a493a-28d8-4380-8354-0a59bb8ebdbe</div>

<div class="text-center">
  <h3>La ponctuation espagnole</h3>

  <p>La ponctuation espagnole est identique à la ponctuation française, sauf pour les points d’interrogation et d’exclamation.</p>

  <p>En effet, lorsque l’on pose une question ou que l’on s’exclame en espagnol, la version écrite comportera OBLIGATOIREMENT le signe interrogatif ou exclamatif inversé au début de la phrase.</p>

  <p>L’exemple reste encore la meilleure explication!</p>

  <p>Quelle heure est-il? se dit Qué hora es en espagnol (j’ai volontairement oublié de mettre les signes de ponctuation). Lorsque l’on écrira cette question en espagnol, on la ponctuera ainsi: ¿Qué hora es?</p>

  <p>Quelle honte! s’écrira ¡Qué vergüenza!</p>

  <p>Par ailleurs, voici un tableau comportant tous les signes de ponctuation avec leur nom en français et en espagnol. Ce sont des choses évidentes, tellement évidentes qu’on ne pense jamais à demander comment elles se disent. C’est chose faite!</p>

  <table style="width: 100%;" border="1" cellspacing="0" cellpadding="4">
    <colgroup>
      <col width="105*" />
      <col width="106*" />
      <col width="45*" /> </colgroup>
    <tbody>
    <tr valign="TOP">
      <td width="41%">
        <p align="CENTER"><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><strong>DÉNOMINATION FRANÇAISE </strong></span></p>
      </td>
      <td width="41%">
        <p align="CENTER"><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><strong>DÉNOMINATION ESPAGNOLE</strong></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>SIGNES</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Le point</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>El punto</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>.</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">La virgule</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>La coma</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>,</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Les deux points</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Los dos puntos</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>:</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Le point-virgule</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>El punto y coma</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>;</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Les points de suspension</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Los puntos suspensivos</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>&#8230;</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Le tiret</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>El guión</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>&#8211;</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Les guillemets</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Las comillas</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>« &#8230; »</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Entre parenthèses</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Entre paréntesis</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>(&#8230;)</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Les points d&rsquo;exclamation</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Los signos de admiración</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>¡&#8230;!</strong></span></p>
      </td>
    </tr>
    <tr valign="TOP">
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;">Les points d&rsquo;interrogation</span></p>
      </td>
      <td width="41%">
        <p><span style="font-family: arial, helvetica, sans-serif; font-size: medium; color: #000000;"><em>Los signos de interrogación</em></span></p>
      </td>
      <td width="18%">
        <p align="CENTER"><span style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>¿&#8230;?</strong></span></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<br/>

<div ng-init="init()"></div>
