<ion-view view-title="Cours du jour">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div>
      <button class="button button-block button-positive" ng-click="audioClass()">Cours audio</button>
    </div>

    <div ng-if="player" class="text-center">
      <button class="button button-positive" ng-click="play()">Lecture</button>
      <button class="button button-positive" ng-click="stop()">Stop</button>
    </div>

    <br/>

    <div ng-include="'templates/cours/' + contenu + '.html'"></div>

    <div class="text-center">
      <button class="button button-positive" ng-click="goExercice()">Exercice correspondant</button>
    </div>
  </ion-content>
</ion-view>
